---

---

<header class="header">
  <section class="pt-4 mt-8 lg:pt-8">
    <img
      class="mx-auto h-64 w-64 rotate-180 animate-bounce rounded-full transition duration-1000 ease-in-out hover:brightness-125"
      src="/assets/images/orange.svg"
      alt="{{name}}"
    />
  </section>
</header>
