---
import '@styles/base.css';
const { content } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{content.title}</title>
  </head>
  <body
    class="body container mx-auto flex min-h-screen max-w-5xl flex-col items-center justify-between p-8 font-sans text-lg text-retro_dark"
  >
    <slot />
  </body>
</html>

<style>
  .body {
    background: linear-gradient(190deg, #f7f3e6e0 0%, #e4d9b5e1 100%);
  }
</style>
